[submodule "tracker"]
	path = tracker
	url = git@github.com:torrust/torrust-tracker.git
[submodule "index-frontend"]
	path = index-frontend
	url = git@github.com:torrust/torrust-index-frontend.git
[submodule "index-backend"]
	path = index-backend
	url = git@github.com:torrust/torrust-index-backend.git
